@charset "ISO-8859-1";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to bottom right, #00b6ff, #090979, #020024 );
  background-repeat: no-repeat;
  background-size: auto;
}

* {
  box-sizing: border-box;
}


/* Add padding to containers */
.container {
  background-image: radial-gradient(#00b6ff, #090979, #020024);
  
  /*background-image: linear-gradient(to bottom left, #00b6ff, #090979, #020024 );  background-size: cover;*/
  padding: 16px;
  width: 950px; 
  height: 1000px; 
  margin: 10% auto 10% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
}

.topic {
	margin-top: 40px;
	font-size: 35px;
	font-weight: bolder;
	margin-left: 35px;
}


label {
	font-size: 18px;
	width: 120px;
	color: white;
	display: inline-block;
	margin-left: 120px;
}

/* Full-width input fields */
.inputs {
  font-size: 14px;
  width: 500px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 22px;
  margin-left: 30px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 7px;
}

.choice1 {
	margin-left: 5px;
	display: inline-block;
}

.choice2 {
	margin-left: 5px;
	display: inline-block;
}

.radio1 {
	margin-left: 45px;
	display: inline-block;
}

.radio {
	margin-left: 218px;
	display: inline-block;
}



/* Hide the browser's default radio button */
.label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.9em;
  width: 0.9em;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.label input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Style the indicator (dot/circle) */
.label .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}





input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.btn {
  background-color: #0000e6;
  font-weight: bold;
  font-size: 15px;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  margin-left: 290px;
  border: none;
  cursor: pointer;
  width: 350px;
  opacity: 0.9;
}

.btn:hover {
  background-color: #000080;
}

.btn:active {
  background-color: #000033;
  transform: translateY(2px);
}

