
body{
  background-image: linear-gradient(to bottom right, #00b6ff, #090979, #020024 );
  background-repeat: no-repeat;
  background-size: auto;
}
  
.signup {
	font-size: 45px;
	font-weight: bolder;
	font-family: Arial, Helvetica, sans-serif;
	/*font-family: "Lucida Console", Courier, monospace;*/
	color: #ffffff;
}
  
.container {
  padding: 3em 0 1em;
  width: 35%;
  margin: 3em auto;
  background: rgba(0, 0, 0, 0.25);
  background-size: cover;
  padding: 3em;
}

.text {
  font-size: 0.9em;
  font-weight: 500;
  width: 94.5%;
  display: block;
  padding: 0.8em;
  border-style: outset;
  border-width: 0px 0px 2px 0px;
  border-color: rgba(255, 255, 255, 0.37);
 
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
 
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%);
  background-position: -800px 0;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}


.text:focus {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

.text:focus::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: .9em;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
  visibility: visible !important;
}


::placeholder {
  color: #ffffff;
}

.label {
  font-size: 0.9em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;	
}


.labels {
  font-size: 0.9em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.labels input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.9em;
  width: 0.9em;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.labels:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.labels input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Style the indicator (dot/circle) */
.labels .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}






.button {
  font-size: .9em;
  color: #ffffff;
  background: #3333ff;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.9em;
  -webkit-appearance: none;
  width: 100%;
  margin: 2em 0;
  letter-spacing: 4px;
}

.button:hover {
  background: #0000e6;
}

.button:active {

  background: #000033;
}