<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">



	<servlet>
		<servlet-name>search</servlet-name>
		<servlet-class>com.oop.servlet.Search</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>InsertCart</servlet-name>
		<servlet-class>com.oop.servlet.InsertCartServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>InsertCart</servlet-name>
		<url-pattern>/insertcart</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>DisplaySongs</servlet-name>
		<servlet-class>com.oop.servlet.DisplaySongsServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DisplaySongs</servlet-name>
		<url-pattern>/displaysongs</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>DisplayCart</servlet-name>
		<servlet-class>com.oop.servlet.CartControllerServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DisplayCart</servlet-name>
		<url-pattern>/cartcontroller</url-pattern>
	</servlet-mapping>
	
</web-app>